<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBl91l50cmEeUdjc3V9wESbuVSGW3BzRKs</string>
	<key>GCM_SENDER_ID</key>
	<string>789698753010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ss.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shreya-shraddha-project</string>
	<key>STORAGE_BUCKET</key>
	<string>shreya-shraddha-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789698753010:ios:a95226c6d637088174fb6b</string>
</dict>
</plist>